/* Reset CSS */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Custom properties */
:root {
  /* Fonts family */
  --family: 'Poppins', sans-serif;
  --medium: 500;
  --bold: 700;

  /* Colors */

  /* Primary */
  --cyan: hsl(180, 66%, 49%);
  --dark_violet: hsl(257, 27%, 26%);

  /* Secondary */
  --red: hsl(0, 87%, 67%);

  /* Neutral */

  --gray: hsl(0, 0%, 75%);
  --grayish_violet: hsl(257, 7%, 63%);
  --very_dark_blue: hsl(255, 11%, 22%);
  --very_dark_violet: hsl(260, 8%, 14%);
  --white: hsl(255, 255%, 255%);
  --white_2: hsl(230, 25%, 95%);
}

body {
  font-family: var(--family);
  font-size: 18px;
}