.header {
  width: 100%;
  display: flex;
  place-content: center;
  background: var(--white);
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 30px 0px;
}

.header_logo {
  width: 130px;
}

/* Hidden checkbox */
.header_expand_menu {
  display: none;
}

/* Show hidden content when the checkbox is checked */
.header_expand_menu:checked+.expandable {
  visibility: visible;
  transition: .3s all ease;
}

.header_hamburguer_image {
  width: 45px;
  filter: invert(11%) sepia(14%) saturate(523%) hue-rotate(218deg) brightness(92%) contrast(92%);
}

@media screen and (min-width: 48rem) {
  .header_wrapper {
    width: 80%;
  }
}

@media screen and (min-width: 64rem) {
  .header_wrapper {
    width: 90%;
    gap: 30px;
  }

  /* Hidden label in desktop */
  .header_label {
    display: none;
  }
}