.navbar {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
}

/* Hiden navigation in mobile */
.expandable {
  visibility: collapse;
}

.navbar_menu {
  background: var(--dark_violet);
  width: 90%;
  margin: auto;
  height: fit-content;
  padding: 25px 0px;
  border-radius: 10px;
  list-style: none;
  display: grid;
  gap: 30px;
}

.navbar_item {
  width: 100%;
  text-align: center;
  position: relative;
}

/* Link resources */
.navbar_item:nth-child(3)::after {
  content: "";
  width: 80%;
  height: 1px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
  background: var(--gray);
  opacity: 0.2;
}

/* Link login */
.navbar_item:nth-child(4) {
  margin-top: 30px;
}

/* Link sign up */
.navbar_item:nth-last-child(-n + 1) {
  width: 80%;
  background: var(--cyan);
  border-radius: 25px;
  padding: 15px 0px;
  margin: 0 auto;
}

.navbar_item a {
  font-weight: var(--bold);
  color: var(--white);
  text-decoration: none;
  text-align: center;
}

@media screen and (min-width: 64rem) {

  /* Visible navigation in desktop */
  .expandable {
    visibility: visible;
  }

  .navbar {
    position: initial;
    width: 100%;
    height: auto;
  }

  .navbar_menu {
    background: transparent;
    width: 100%;
    height: fit-content;
    padding: 0px;
    align-items: center;
    grid-template-columns: repeat(3, 100px) 1fr 122px;
  }

  .navbar_item {
    width: fit-content;
    position: initial;
  }

  .navbar_item a {
    color: var(--grayish_violet);
  }

  .navbar_item a:hover {
    color: var(--very_dark_violet);
    transition: .3s all ease-in;
  }

  /* Link resources */
  .navbar_item:nth-child(3)::after {
    display: none;
  }

  /* Link login */
  .navbar_item:nth-child(4) {
    margin-top: 0px;
  }

  /* Link sign up */
  .navbar_item:nth-last-child(-n + 1) {
    width: fit-content;
    padding: 15px 25px;
  }

  .navbar_item:nth-last-child(-n + 1) a {
    color: var(--white);
  }

  .navbar_item:nth-last-child(-n + 1):hover {
    opacity: 0.8;
    transition: .3s all ease-in;
  }

  /* Link login and sign Up */
  .navbar_item:nth-last-child(-n + 2) {
    margin-left: auto;
  }

}